html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.sninn-serif{font-family:serif}.sninn-sans-serif{font-family:sans-serif}.sninn-cursive{font-family:cursive}.sninn-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.sninn-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.sninn-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sninn-table,.sninn-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.sninn-table-all{border:1px solid #ccc}
.sninn-bordered tr,.sninn-table-all tr{border-bottom:1px solid #ddd}.sninn-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.sninn-table-all tr:nth-child(odd){background-color:#fff}.sninn-table-all tr:nth-child(even){background-color:#f1f1f1}
.sninn-hoverable tbody tr:hover,.sninn-ul.sninn-hoverable li:hover{background-color:#ccc}.sninn-centered tr th,.sninn-centered tr td{text-align:center}
.sninn-table td,.sninn-table th,.sninn-table-all td,.sninn-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.sninn-table th:first-child,.sninn-table td:first-child,.sninn-table-all th:first-child,.sninn-table-all td:first-child{padding-left:16px}
.sninn-btn,.sninn-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sninn-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sninn-btn,.sninn-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sninn-disabled,.sninn-btn:disabled,.sninn-button:disabled{cursor:not-allowed;opacity:0.3}.sninn-disabled *,:disabled *{pointer-events:none}
.sninn-btn.sninn-disabled:hover,.sninn-btn:disabled:hover{box-shadow:none}
.sninn-badge,.sninn-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.sninn-badge{border-radius:50%}
.sninn-ul{list-style-type:none;padding:0;margin:0}.sninn-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.sninn-ul li:last-child{border-bottom:none}
.sninn-tooltip,.sninn-display-container{position:relative}.sninn-tooltip .sninn-text{display:none}.sninn-tooltip:hover .sninn-text{display:inline-block}
.sninn-ripple:active{opacity:0.5}.sninn-ripple{transition:opacity 0s}
.sninn-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.sninn-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.sninn-dropdown-click,.sninn-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.sninn-dropdown-hover:hover .sninn-dropdown-content{display:block}
.sninn-dropdown-hover:first-child,.sninn-dropdown-click:hover{background-color:#ccc;color:#000}
.sninn-dropdown-hover:hover > .sninn-button:first-child,.sninn-dropdown-click:hover > .sninn-button:first-child{background-color:#ccc;color:#000}
.sninn-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.sninn-check,.sninn-radio{width:24px;height:24px;position:relative;top:6px}
.sninn-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.sninn-bar-block .sninn-dropdown-hover,.sninn-bar-block .sninn-dropdown-click{width:100%}
.sninn-bar-block .sninn-dropdown-hover .sninn-dropdown-content,.sninn-bar-block .sninn-dropdown-click .sninn-dropdown-content{min-width:100%}
.sninn-bar-block .sninn-dropdown-hover .sninn-button,.sninn-bar-block .sninn-dropdown-click .sninn-button{width:100%;text-align:left;padding:8px 16px}
.sninn-main,#main{transition:margin-left .4s}
.sninn-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.sninn-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.sninn-bar{width:100%;overflow:hidden}.sninn-center .sninn-bar{display:inline-block;width:auto}
.sninn-bar .sninn-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.sninn-bar .sninn-dropdown-hover,.sninn-bar .sninn-dropdown-click{position:static;float:left}
.sninn-bar .sninn-button{white-space:normal}
.sninn-bar-block .sninn-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.sninn-bar-block.sninn-center .sninn-bar-item{text-align:center}.sninn-block{display:block;width:100%}
.sninn-responsive{display:block;overflow-x:auto}
.sninn-container:after,.sninn-container:before,.sninn-panel:after,.sninn-panel:before,.sninn-row:after,.sninn-row:before,.sninn-row-padding:after,.sninn-row-padding:before,
.sninn-cell-row:before,.sninn-cell-row:after,.sninn-clear:after,.sninn-clear:before,.sninn-bar:before,.sninn-bar:after{content:"";display:table;clear:both}
.sninn-col,.sninn-half,.sninn-third,.sninn-twothird,.sninn-threequarter,.sninn-quarter{float:left;width:100%}
.sninn-col.s1{width:8.33333%}.sninn-col.s2{width:16.66666%}.sninn-col.s3{width:24.99999%}.sninn-col.s4{width:33.33333%}
.sninn-col.s5{width:41.66666%}.sninn-col.s6{width:49.99999%}.sninn-col.s7{width:58.33333%}.sninn-col.s8{width:66.66666%}
.sninn-col.s9{width:74.99999%}.sninn-col.s10{width:83.33333%}.sninn-col.s11{width:91.66666%}.sninn-col.s12{width:99.99999%}
@media (min-width:601px){.sninn-col.m1{width:8.33333%}.sninn-col.m2{width:16.66666%}.sninn-col.m3,.sninn-quarter{width:24.99999%}.sninn-col.m4,.sninn-third{width:33.33333%}
.sninn-col.m5{width:41.66666%}.sninn-col.m6,.sninn-half{width:49.99999%}.sninn-col.m7{width:58.33333%}.sninn-col.m8,.sninn-twothird{width:66.66666%}
.sninn-col.m9,.sninn-threequarter{width:74.99999%}.sninn-col.m10{width:83.33333%}.sninn-col.m11{width:91.66666%}.sninn-col.m12{width:99.99999%}}
@media (min-width:993px){.sninn-col.l1{width:8.33333%}.sninn-col.l2{width:16.66666%}.sninn-col.l3{width:24.99999%}.sninn-col.l4{width:33.33333%}
.sninn-col.l5{width:41.66666%}.sninn-col.l6{width:49.99999%}.sninn-col.l7{width:58.33333%}.sninn-col.l8{width:66.66666%}
.sninn-col.l9{width:74.99999%}.sninn-col.l10{width:83.33333%}.sninn-col.l11{width:91.66666%}.sninn-col.l12{width:99.99999%}}
.sninn-rest{overflow:hidden}.sninn-stretch{margin-left:-16px;margin-right:-16px}
.sninn-content,.sninn-auto{margin-left:auto;margin-right:auto}.sninn-content{max-width:980px}.sninn-auto{max-width:1140px}
.sninn-cell-row{display:table;width:100%}.sninn-cell{display:table-cell}
.sninn-cell-top{vertical-align:top}.sninn-cell-middle{vertical-align:middle}.sninn-cell-bottom{vertical-align:bottom}
.sninn-hide{display:none!important}.sninn-show-block,.sninn-show{display:block!important}.sninn-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.sninn-auto{max-width:95%}}
@media (max-width:600px){.sninn-modal-content{margin:0 10px;width:auto!important}.sninn-modal{padding-top:30px}
.sninn-dropdown-hover.sninn-mobile .sninn-dropdown-content,.sninn-dropdown-click.sninn-mobile .sninn-dropdown-content{position:relative}	
.sninn-hide-small{display:none!important}.sninn-mobile{display:block;width:100%!important}.sninn-bar-item.sninn-mobile,.sninn-dropdown-hover.sninn-mobile,.sninn-dropdown-click.sninn-mobile{text-align:center}
.sninn-dropdown-hover.sninn-mobile,.sninn-dropdown-hover.sninn-mobile .sninn-btn,.sninn-dropdown-hover.sninn-mobile .sninn-button,.sninn-dropdown-click.sninn-mobile,.sninn-dropdown-click.sninn-mobile .sninn-btn,.sninn-dropdown-click.sninn-mobile .sninn-button{width:100%}}
@media (max-width:768px){.sninn-modal-content{width:500px}.sninn-modal{padding-top:50px}}
@media (min-width:993px){.sninn-modal-content{width:900px}.sninn-hide-large{display:none!important}.sninn-sidebar.sninn-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sninn-hide-medium{display:none!important}}
@media (max-width:992px){.sninn-sidebar.sninn-collapse{display:none}.sninn-main{margin-left:0!important;margin-right:0!important}.sninn-auto{max-width:100%}}
.sninn-top,.sninn-bottom{position:fixed;width:100%;z-index:1}.sninn-top{top:0}.sninn-bottom{bottom:0}
.sninn-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.sninn-display-topleft{position:absolute;left:0;top:0}.sninn-display-topright{position:absolute;right:0;top:0}
.sninn-display-bottomleft{position:absolute;left:0;bottom:0}.sninn-display-bottomright{position:absolute;right:0;bottom:0}
.sninn-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.sninn-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sninn-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.sninn-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sninn-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sninn-display-container:hover .sninn-display-hover{display:block}.sninn-display-container:hover span.sninn-display-hover{display:inline-block}.sninn-display-hover{display:none}
.sninn-display-position{position:absolute}
.sninn-circle{border-radius:50%}
.sninn-round-small{border-radius:2px}.sninn-round,.sninn-round-medium{border-radius:4px}.sninn-round-large{border-radius:8px}.sninn-round-xlarge{border-radius:16px}.sninn-round-xxlarge{border-radius:32px}
.sninn-row-padding,.sninn-row-padding>.sninn-half,.sninn-row-padding>.sninn-third,.sninn-row-padding>.sninn-twothird,.sninn-row-padding>.sninn-threequarter,.sninn-row-padding>.sninn-quarter,.sninn-row-padding>.sninn-col{padding:0 8px}
.sninn-container,.sninn-panel{padding:0.01em 16px}.sninn-panel{margin-top:16px;margin-bottom:16px}
.sninn-code,.sninn-codespan{font-family:Consolas,"courier new";font-size:16px}
.sninn-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sninn-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.sninn-card,.sninn-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sninn-card-4,.sninn-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.sninn-spin{animation:sninn-spin 2s infinite linear}@keyframes sninn-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.sninn-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sninn-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sninn-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sninn-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sninn-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sninn-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sninn-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sninn-animate-input{transition:width 0.4s ease-in-out}.sninn-animate-input:focus{width:100%!important}
.sninn-opacity,.sninn-hover-opacity:hover{opacity:0.60}.sninn-opacity-off,.sninn-hover-opacity-off:hover{opacity:1}
.sninn-opacity-max{opacity:0.25}.sninn-opacity-min{opacity:0.75}
.sninn-greyscale-max,.sninn-grayscale-max,.sninn-hover-greyscale:hover,.sninn-hover-grayscale:hover{filter:grayscale(100%)}
.sninn-greyscale,.sninn-grayscale{filter:grayscale(75%)}.sninn-greyscale-min,.sninn-grayscale-min{filter:grayscale(50%)}
.sninn-sepia{filter:sepia(75%)}.sninn-sepia-max,.sninn-hover-sepia:hover{filter:sepia(100%)}.sninn-sepia-min{filter:sepia(50%)}
.sninn-tiny{font-size:10px!important}.sninn-small{font-size:12px!important}.sninn-medium{font-size:15px!important}.sninn-large{font-size:18px!important}
.sninn-xlarge{font-size:24px!important}.sninn-xxlarge{font-size:36px!important}.sninn-xxxlarge{font-size:48px!important}.sninn-jumbo{font-size:64px!important}
.sninn-left-align{text-align:left!important}.sninn-right-align{text-align:right!important}.sninn-justify{text-align:justify!important}.sninn-center{text-align:center!important}
.sninn-border-0{border:0!important}.sninn-border{border:1px solid #ccc!important}
.sninn-border-top{border-top:1px solid #ccc!important}.sninn-border-bottom{border-bottom:1px solid #ccc!important}
.sninn-border-left{border-left:1px solid #ccc!important}.sninn-border-right{border-right:1px solid #ccc!important}
.sninn-topbar{border-top:6px solid #ccc!important}.sninn-bottombar{border-bottom:6px solid #ccc!important}
.sninn-leftbar{border-left:6px solid #ccc!important}.sninn-rightbar{border-right:6px solid #ccc!important}
.sninn-section,.sninn-code{margin-top:16px!important;margin-bottom:16px!important}
.sninn-margin{margin:16px!important}.sninn-margin-top{margin-top:16px!important}.sninn-margin-bottom{margin-bottom:16px!important}
.sninn-margin-left{margin-left:16px!important}.sninn-margin-right{margin-right:16px!important}
.sninn-padding-small{padding:4px 8px!important}.sninn-padding{padding:8px 16px!important}.sninn-padding-large{padding:12px 24px!important}
.sninn-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sninn-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sninn-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sninn-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sninn-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sninn-padding-top-64{padding-top:64px!important}.sninn-padding-top-48{padding-top:48px!important}
.sninn-padding-top-32{padding-top:32px!important}.sninn-padding-top-24{padding-top:24px!important}
.sninn-left{float:left!important}.sninn-right{float:right!important}
.sninn-button:hover{color:#000!important;background-color:#ccc!important}
.sninn-transparent,.sninn-hover-none:hover{background-color:transparent!important}
.sninn-hover-none:hover{box-shadow:none!important}
/* Colors */
.sninn-amber,.sninn-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sninn-aqua,.sninn-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sninn-blue,.sninn-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sninn-light-blue,.sninn-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sninn-brown,.sninn-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sninn-cyan,.sninn-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sninn-blue-grey,.sninn-hover-blue-grey:hover,.sninn-blue-gray,.sninn-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sninn-green,.sninn-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sninn-light-green,.sninn-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sninn-indigo,.sninn-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sninn-khaki,.sninn-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sninn-lime,.sninn-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sninn-orange,.sninn-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sninn-deep-orange,.sninn-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sninn-pink,.sninn-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sninn-purple,.sninn-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sninn-deep-purple,.sninn-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sninn-red,.sninn-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sninn-sand,.sninn-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sninn-teal,.sninn-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sninn-yellow,.sninn-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sninn-white,.sninn-hover-white:hover{color:#000!important;background-color:#fff!important}
.sninn-black,.sninn-hover-black:hover{color:#fff!important;background-color:#000!important}
.sninn-grey,.sninn-hover-grey:hover,.sninn-gray,.sninn-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sninn-light-grey,.sninn-hover-light-grey:hover,.sninn-light-gray,.sninn-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sninn-dark-grey,.sninn-hover-dark-grey:hover,.sninn-dark-gray,.sninn-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sninn-pale-red,.sninn-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sninn-pale-green,.sninn-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sninn-pale-yellow,.sninn-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sninn-pale-blue,.sninn-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sninn-text-amber,.sninn-hover-text-amber:hover{color:#ffc107!important}
.sninn-text-aqua,.sninn-hover-text-aqua:hover{color:#00ffff!important}
.sninn-text-blue,.sninn-hover-text-blue:hover{color:#2196F3!important}
.sninn-text-light-blue,.sninn-hover-text-light-blue:hover{color:#87CEEB!important}
.sninn-text-brown,.sninn-hover-text-brown:hover{color:#795548!important}
.sninn-text-cyan,.sninn-hover-text-cyan:hover{color:#00bcd4!important}
.sninn-text-blue-grey,.sninn-hover-text-blue-grey:hover,.sninn-text-blue-gray,.sninn-hover-text-blue-gray:hover{color:#607d8b!important}
.sninn-text-green,.sninn-hover-text-green:hover{color:#4CAF50!important}
.sninn-text-light-green,.sninn-hover-text-light-green:hover{color:#8bc34a!important}
.sninn-text-indigo,.sninn-hover-text-indigo:hover{color:#3f51b5!important}
.sninn-text-khaki,.sninn-hover-text-khaki:hover{color:#b4aa50!important}
.sninn-text-lime,.sninn-hover-text-lime:hover{color:#cddc39!important}
.sninn-text-orange,.sninn-hover-text-orange:hover{color:#ff9800!important}
.sninn-text-deep-orange,.sninn-hover-text-deep-orange:hover{color:#ff5722!important}
.sninn-text-pink,.sninn-hover-text-pink:hover{color:#e91e63!important}
.sninn-text-purple,.sninn-hover-text-purple:hover{color:#9c27b0!important}
.sninn-text-deep-purple,.sninn-hover-text-deep-purple:hover{color:#673ab7!important}
.sninn-text-red,.sninn-hover-text-red:hover{color:#f44336!important}
.sninn-text-sand,.sninn-hover-text-sand:hover{color:#fdf5e6!important}
.sninn-text-teal,.sninn-hover-text-teal:hover{color:#009688!important}
.sninn-text-yellow,.sninn-hover-text-yellow:hover{color:#d2be0e!important}
.sninn-text-white,.sninn-hover-text-white:hover{color:#fff!important}
.sninn-text-black,.sninn-hover-text-black:hover{color:#000!important}
.sninn-text-grey,.sninn-hover-text-grey:hover,.sninn-text-gray,.sninn-hover-text-gray:hover{color:#757575!important}
.sninn-text-light-grey,.sninn-hover-text-light-grey:hover,.sninn-text-light-gray,.sninn-hover-text-light-gray:hover{color:#f1f1f1!important}
.sninn-text-dark-grey,.sninn-hover-text-dark-grey:hover,.sninn-text-dark-gray,.sninn-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sninn-border-amber,.sninn-hover-border-amber:hover{border-color:#ffc107!important}
.sninn-border-aqua,.sninn-hover-border-aqua:hover{border-color:#00ffff!important}
.sninn-border-blue,.sninn-hover-border-blue:hover{border-color:#2196F3!important}
.sninn-border-light-blue,.sninn-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sninn-border-brown,.sninn-hover-border-brown:hover{border-color:#795548!important}
.sninn-border-cyan,.sninn-hover-border-cyan:hover{border-color:#00bcd4!important}
.sninn-border-blue-grey,.sninn-hover-border-blue-grey:hover,.sninn-border-blue-gray,.sninn-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sninn-border-green,.sninn-hover-border-green:hover{border-color:#4CAF50!important}
.sninn-border-light-green,.sninn-hover-border-light-green:hover{border-color:#8bc34a!important}
.sninn-border-indigo,.sninn-hover-border-indigo:hover{border-color:#3f51b5!important}
.sninn-border-khaki,.sninn-hover-border-khaki:hover{border-color:#f0e68c!important}
.sninn-border-lime,.sninn-hover-border-lime:hover{border-color:#cddc39!important}
.sninn-border-orange,.sninn-hover-border-orange:hover{border-color:#ff9800!important}
.sninn-border-deep-orange,.sninn-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sninn-border-pink,.sninn-hover-border-pink:hover{border-color:#e91e63!important}
.sninn-border-purple,.sninn-hover-border-purple:hover{border-color:#9c27b0!important}
.sninn-border-deep-purple,.sninn-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sninn-border-red,.sninn-hover-border-red:hover{border-color:#f44336!important}
.sninn-border-sand,.sninn-hover-border-sand:hover{border-color:#fdf5e6!important}
.sninn-border-teal,.sninn-hover-border-teal:hover{border-color:#009688!important}
.sninn-border-yellow,.sninn-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sninn-border-white,.sninn-hover-border-white:hover{border-color:#fff!important}
.sninn-border-black,.sninn-hover-border-black:hover{border-color:#000!important}
.sninn-border-grey,.sninn-hover-border-grey:hover,.sninn-border-gray,.sninn-hover-border-gray:hover{border-color:#9e9e9e!important}
.sninn-border-light-grey,.sninn-hover-border-light-grey:hover,.sninn-border-light-gray,.sninn-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sninn-border-dark-grey,.sninn-hover-border-dark-grey:hover,.sninn-border-dark-gray,.sninn-hover-border-dark-gray:hover{border-color:#616161!important}
.sninn-border-pale-red,.sninn-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sninn-border-pale-green,.sninn-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sninn-border-pale-yellow,.sninn-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sninn-border-pale-blue,.sninn-hover-border-pale-blue:hover{border-color:#e7ffff!important}